#content {
    padding: 0 15%;
}

a {
    text-decoration: none;
}

#event-header {
    position: relative;
    width: 100%;
    height: 400px;
}

#event-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#event-header h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    font-size: 3em;
    font-weight: 500;
    padding: 0.2em;
    margin: 0.3em;
    background-color: rgba(17, 20, 26, 0.7);
}

.event-field {
    margin: 2em 0;
}

.card {
    background-color: #11141A;
    width: 100%;
    text-align: center;
    border-radius: 12px;
    padding: 1em;
}

.event-field h2 {
    color: #ffffff;
    font-size: 1.3em;
    font-weight: 500;
    margin: 0.5em 0;
}

#details-card-content {
    display: flex;
    gap: 10px;
    padding: 1em 1em 2em 0;
    border-bottom: 1px solid #A08AFA;
    align-items: center;
}

#first-column {
    flex: 1;
}

#date,
#venue,
#city {
    color: #ffffff;
    text-align: center;
    font-size: small;
    font-weight: 500;
}

#weekday,
#time,
#numParticipants {
    color: #ffffff;
    text-align: center;
    font-size: small;
    font-weight: 100;
}

#weekday::after {
    content: " • ";
    color: #ffffff;
}

#venue::after {
    content: " • ";
    color: #ffffff;
}

#second-column {
    flex: 2;
}

#third-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#join-event,
#leave-event {
    width: 80%;
    border: #A08AFA 1px solid;
    border-radius: 50em;
    padding: 0.5em 0;
    background-color: #11141A;
    color: white;
    margin: 0.5rem 0;
}


#join-event:hover,
#leave-event:hover {
    background-color: #A08AFA;
    color: #11141A;
}

#third-column #span-container {
    display: flex;
    width: 100%;

}

#third-column form {
    width: 100%;
}

#third-column #span-container button {
    font-size: small;
    color: #ffffff;
    font-weight: 100;
    margin: 0 auto;
}

#third-column #span-container span:hover {
    cursor: pointer;
    color: #808080;
}

#about-text {
    color: #ffffff;
    font-size: small;
    font-weight: 300;
    text-align: justify;
    margin: 1em 0;
}

.profile-pic {
    margin-right: 0.5rem;
    width: 3.2em;
    border-radius: 50%;
}

.comment-row {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.comment-row form {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

input[type="text"] {
    margin-right: 0.5em;
    border: none;
    border-bottom: 1px solid #A08AFA;
    background-color: #11141A;
    color: #ffffff;
    font-size: small;
    width: 100%;
}

input[type="text"]:focus {
    outline: none;
}

.icon {
    margin-left: 0.5rem;
    width: 1.2em;
    color: #808080;
}

.icon:hover {
    cursor: pointer;
}

#comments-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.username-and-date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-content {
    margin-top: 1.5em;
    width: 100%;
}

.comment-author {
    font-size: small;
    font-weight: 600;
    color: #ffffff;
    margin-right: 0.5em;
}

.comment-date{
    font-size: small;
    font-weight: 100;
    color: #ffffff;
}

.comment-text {
    font-size: small;
    font-weight: 300;
    color: #ffffff;
    margin-top: 0.5em;
    text-align: left;
}

.votes-row {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.comment-votes {
    font-size: small;
    font-weight: 300;
    color: #ffffff;
}

#votes-icon {
    margin: 0;
}

.icon-button {
    background-color: transparent;
    border: none;
}

.modal-body img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.modal-body h1 {
    font-size: 15px;
    font-weight: 400;
}

#inviteForm .btn{
    color: #808080;
    background-color: transparent;
    border: #808080 1px solid;
    border-radius: 50em;
    width: 7rem;
    font-weight: 600;
    font-size: 0.85rem;
}

#inviteForm .btn:hover{
    background-color: #11141A;
    color: #A08AFA;
    border: #A08AFA 1px solid;
}