
.row_title{
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 1.7rem;
}

.card{
    background-color: #11141A;
    color: #FFFFFF;
    padding: 0;
    width: 8.5rem;
    text-align: center;
    margin-right: 1rem;
    text-decoration: none;
}

.card:hover{
    background-color: rgb(25, 28, 37);
}

.card-title{
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-text{
    font-size: 8px;
    font-weight: 300;
}

.card-img-aura{
    width: 95%;
    height: 120px;
    overflow: hidden;
    padding-left: 0.4em;
    padding-top: 0.5em;

}

.row.flex-row.flex-nowrap.overflow-auto::-webkit-scrollbar {
    display: none;
  }
  
  .row.flex-row.flex-nowrap.overflow-auto {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  #content{
      margin-top: 2.5rem;
  }

.home-row{
    margin-bottom: 2rem;
}


/***************** Banner *****************/

#home-banner {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

#home-banner-img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

#home-banner-text {
    margin: auto;
}

#Banner-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 800;
    line-height: normal;

    margin-bottom: 1.2rem;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#Banner-subtitle {
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.underlined-text {
    border-bottom: 2px solid #A08AFA;
}

@media (max-width: 770px) {
    #home-banner {
        flex-direction: column;
    }

    #home-banner-img {
        height: 11rem;
    }

    #home-banner-text {
        margin-top: 1rem;
        display: none;
    }

    #Banner-title {
        font-size: 1.2rem;
    }

    #Banner-subtitle {
        font-size: 0.8rem;
    }
}