@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #000000;
}

.navbar{
    
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 5rem;
    }

.navbar-logo img{
    height: 3rem;
}

.navbar-pages{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-item{
    margin: 0 1rem;
    color: #808080;
    font-size: 0.8em;
}

/*selected nav-item*/
.nav-link.selected {
    color: #FFFFFF;
    /*i want to put  a #A08AFA bottom border*/
    border-bottom: 2px solid #A08AFA;
    padding-bottom: 0.5rem;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
}

.dropdown-toggle:hover {
    background-color: #101010;
    border: none;
}

.profile-image{
    height: 3rem;
    border-radius: 50%;
    padding-left: 4em;
}

.dropdown-menu {
    background-color: #101010;
}
.dropdown-item:hover {
    background-color: #191919;
    color: #808080;
}

.dropdown-item {
    color: #FFFFFF;
}

.navbar-text {
    color: #FFFFFF;
    margin: auto 0;
    padding-left: 1em;
}

#profile-photo{
    height: 3.5em;
    border-radius: 50%;
}