
.custom-container {
    max-width: 50%;
    margin: auto;
    margin-top: 50px;
    color: #808080;
    border-radius: 10px;
    padding: 2em;
    margin-bottom: 2em;
}

.card-img-aura{
    width: 75%;
    height: 120px;
    overflow: hidden;
    margin: 0.5em;
     border-radius: 10px !important ;
}


.card{
    color: #FFFFFF;
    background-color: #11141A;
}

.card:hover{
    background-color: rgb(25, 28, 37);
}

.title{
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

p {
    color: rgba(255, 255, 255, 0.50);
    font-family: Montserrat;
    font-size: 0.7em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-primary {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 0.8em;
    font-weight: 600;
    margin-top: 1em;
}

.btn-primary:hover {
    background-color: #7e5efa;
    color: white;
}

.dropdown-item{
    color: #FFFFFF;
    background-color: #11141A;
}
.dropdown-menu {
    color: #FFFFFF;
    background-color: #11141A;
}

.dropdown-item:hover {
    color: #FFFFFF;
    background-color: rgb(25, 28, 37);
}


.image-link {
    display: flex;
    /* Add other styles as needed */
}

.clickable-card {
    cursor: pointer;
}