@media (min-width: 765px){
    .event {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .event .col-md-2,
    .event .col-md-2.ml-auto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 765px){
    .event .col-md-2,
    .event .col-md-2.ml-auto {
        display: flex;
        justify-content: flex-end;

        margin-top: 0rem;
    }

}
