
#bandBanner {
    max-height: 15rem;
    height: 20rem;
    object-fit: cover;
    width: 100%;
}

#bandName {
    color: #FFF;
    font-size: 35px;
    font-weight: 700;
    padding-left: 1.5rem;

    background-color: rgba(0, 0, 0, 0.4);

}

.navbar-nav {
    flex-direction: row !important;
}

#orgNav {
    background-color: #000000;
}

#orgNav a {
    color: #FFF;
    padding: 0rem;
    margin-right: 1.2rem;
    font-size: 15px;
    font-weight: 600;
}

#results-title {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

#section1{
    margin-top: 2rem;
}


.card{
    padding-bottom: 1rem;
    background-color: #11141A;
    border-radius: 1rem;

    margin-top:1rem;
    margin-bottom: 7rem;
}

.event{
    width:95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    border-bottom: 1px solid #808080;
    padding: 1rem;
}

#about{
    padding: 1rem;
}

p{
    color: #808080;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card h2{
    color: #FFF;
    font-size: 0.9rem;
    font-weight: 700;
}

.card h3{
    color: #808080;
    font-size: 0.7rem;
    font-weight: 400;
}

#join-event,
#leave-event {
    /*no wrap*/
    white-space: nowrap;

    font-size: 0.85rem;

    border: #A08AFA 1px solid;
    border-radius: 50em;
    padding: 0.7em 1em;
    background-color: #11141A;
    color: white;
}

#join-event:hover,
#leave-event:hover {
    background-color: #A08AFA;
    color: #11141A;
}

@media (min-width: 765px){
    .event {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .event .col-md-2,
    .event .col-md-2.ml-auto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 765px){
    .event .col-md-2,
    .event .col-md-2.ml-auto {
        display: flex;
        justify-content: flex-end;

        margin-top: 0rem;
    }

}