#content {
    margin: 0 15%;
}

#profile-header {
    height: 30%;
}

#background-banner {
    position: relative;
    height: 15em;
    border-bottom: 2px solid #fff;
}

#profile-pic {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 20%;
    transform: translateY(-50%);
    width: 15%;
    border-radius: 50%;
    border: 2px solid #fff;
}

#profile-fields{
    position: absolute;
    margin: 2em 25%;
}

#complete-name {
    font-size: 2em;
    font-weight: 600;
    color: #fff;
}

#username, #email {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

#username::after {
    content: "•";
    margin: 0 1em;
    font-weight: 600;
}

#username::before {
    content: "@";
    font-weight: 300;
}

.dropdown-item, .three-dots {
    cursor: pointer;
}

.row_title{
    margin-top: 2em;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 1.7rem;
}

.card{
    background-color: #11141A;
    color: #FFFFFF;
    padding: 0;
    width: 8.5rem;
    text-align: center;
    margin-right: 1rem;
    text-decoration: none;
}

.card:hover{
    background-color: rgb(25, 28, 37);
}

.card-title{
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-text{
    font-size: 8px;
    font-weight: 300;
}

.card-img-aura{
    width: 95%;
    height: 120px;
    overflow: hidden;
    padding-left: 0.4em;
    padding-top: 0.5em;

}

.row.flex-row.flex-nowrap.overflow-auto::-webkit-scrollbar {
    display: none;
}

.row.flex-row.flex-nowrap.overflow-auto {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

#organizations-events {
    margin-top: 10em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-card {
    width: 45%;
}

.modal-title{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;

    margin-bottom: 1rem;
}

.modal-body{
    background-color: #11141A;
    color: #FFFFFF;
    border-radius: 1rem;
    color: #808080;
    font-size: 0.9rem;
    width: 25em;
}

.modal-content{
    background-color: transparent;
}

.modal-footer button{
    background-color: transparent;
    border: none;
    color: #808080;
    font-size: 0.8rem;
}

.form-control{
    background-color: #11141A;
    color: #fff;
    border: none;
    border-bottom: 1px solid #808080;
    margin-top: 1em;
}

.form-control:focus{
    background-color: #11141A;
    color: #fff;
    border: none;
    border-bottom: 1px solid #808080;
    box-shadow: none;
}

#color-input{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.form-control[type="color"] {
    border: none;
    margin-right: 1em;
}

#profile-pic-preview {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 1px solid #fff;
    display: block;
    margin: 2em auto;
}

/*css to mobile phones*/
@media (max-width: 700px) {
    #content {
        margin: 0;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
    }

    #profile-header {
        height: 10%;
    }

    #background-banner {
        border-bottom: 2px solid #fff;
    }

    #profile-pic {
        width: 15em;
        margin-left: 20%;
    }

    #profile-fields{
        margin-left: 10%;
        margin-top: 90%;
    }

    #complete-name {
        font-size: 1.5em;
        font-weight: 600;
        color: #fff;
    }

    #username, #email {
        font-size: 0.8em;
        color: #fff;
        font-weight: 300;
    }

    .dropdown-item, .three-dots {
        cursor: pointer;
    }

    .row_title{
        margin-top: 2em;
        font-size: 1rem;
        font-weight: 600;
        color: #FFFFFF;
        margin-bottom: 1.7rem;
    }

    .card{
        background-color: #11141A;
        color: #FFFFFF;
        padding: 0;
        width: 8.5rem;
        text-align: center;
        margin-right: 1rem;
        text-decoration: none;
    }

    .card:hover{
        background-color: rgb(25, 28, 37);
    }

    .card-title{
        font-size: 12px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-text{
        font-size: 8px;
        font-weight: 300;
    }

    .card-img-aura{
        width: 95%;
        height: 120px;
        overflow: hidden;
        padding-left: 0.4em;
        padding-top: 0.5em;
    }

    #organizations-events {
        margin-top: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .section-card {
        width: 100%;
        margin: 5% 0 0 10%;
    }
}